@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=EB+Garamond:wght@400;500;800&display=swap');

* {
	box-shadow: 0 0 0 0 !important;
	font-family: "EB Garamond";
}

body {
	background:url("images/background.jpg");
	padding:0 !important;
	margin:0 !important;
}

h1 {
	font-family: 'Cinzel',serif;
	font-weight: 500;
	font-size:70px;
}
h2 {
	font-family:"Cinzel";
	font-weight:500;
	font-size:40px;
}
h3,.btn,.description-box {
	font-family: "EB Garamond";
}

/* Buttons */
/*.btn:not(.btn-secondary) {*/
.text-dark {
	color:black !important;
}
.border-dark {
	border-color:black !important;
}
.border-light {
	border-color:#453D38 !important;
}

.btn{
	/*max-width: 300px;*/
	position:relative;
	top:0;
	left:0;
	z-index:1;
	background:none !important;
	/*border:0 !important;*/
	box-shadow: 0 0 0 0 !important;
}
.btn::before {
	width:100%;
	height:100%;
	display:block;
	content:" ";
	z-index: -1;
	position: absolute;
	top:0;
	left:0;
	opacity:0;
	transition:opacity 100ms;
}
.btn-primary {
	max-width: 300px;
}
.btn.btn-primary::before {
	background: linear-gradient(90deg,transparent, #994912, transparent);
}
.btn.btn-secondary::before {
	background:#c96018ab;
	width:calc(100% - 0.5rem);
	margin-left:0.25rem;
}
.btn.btn-info::before {
	background: #994912;
}
.btn-secondary {
	margin-left:-0.25rem !important;
	width:calc(100% + 0.5rem) !important;
	/*margin-right:-0.25rem !important;*/
}
.btn-info {
	height:2em;
	background:none;
	/*#111 !important;*/
	border-color:#453D38 !important;
}
#finish {
	border-color:#994912 !important;
}
.btn-info:hover {
	background:#994912 !important;
}
.btn:hover::before,.btn-secondary.active::before {
	opacity: 100;
}
.btn:focus{
	box-shadow: 0 0 0 0;
}
.btn.cancel {
	width:40px;
	height:40px;
	margin:15px;
}
.btn.cancel::before {
	width:200%;
	height:200%;
	transform:translate(-26%,-25%);
	background:radial-gradient(farthest-side, #994912, transparent);
	background-repeat:no-repeat;
}
/* Menu divs */
#menu-div-1, #menu-div-2, #menu-div-3, #menu-div-4 {
	display:none;
}
.menu-1 #menu-div-1 { display:block; }
.menu-2 #menu-div-2 { display:block; }
.menu-3 #menu-div-3 { display:block; }
.menu-4 #menu-div-4 { display:block; }


/* Main buttons */
h1, nav#main-options {
	display:none;
}
#sub-options {
	display:block;
}
.menu-0 h1,
.menu-0 nav#main-options {
	display:block;
}
.menu-0 #sub-options {
	display:none;
}


/* Character Create Menu */
#main-container {
	display:grid;
	grid-template-columns: 50% 50%;
	grid-row-gap:0;
}
@media screen and (max-width: 768px) {
	#main-container {
		grid-template-columns: 100%;
	}
}

#selections {
	/*width:320px;*/
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
#stats-container {
	/*width: 320px;*/
	/*max-width: 320px;*/
	min-width: 320px;
	position:relative;
	top:0;
	left:0;
}
#classes-container, #gift-container, #body-container,#face-container,#hair-container,#hcol-container {
	margin:0 !important;
	position:absolute;
	top:70px;
	left:50vw;
	transform:translate(-50%,0%);
	z-index: 2;
	background:url("images/scroll.png");
	background-repeat: no-repeat;
	background-size:100% auto;
	width: 320px;
	max-width: 320px;
	min-width: 320px;
	height:592px;
	padding-top:100px;
	display:none;
}
.select-class #classes-container {
	display: block;
}
.select-gift #gift-container {
	display: block;
}
.select-body #body-container {
	display: block;
}
.select-face #face-container {
	display: block;
}
.select-hair #hair-container {
	display: block;
}
.select-hcol #hcol-container {
	display: block;
}
.secondary-container>div>div {
	padding-top:0.1875rem;
	padding-bottom:0.1875rem;
}
.description-box {
	height:120px;
	font-size:20px;
}
/*#classes-container img {
	/*background:url("IMAGES/scroll.png");
	position:absolute;
	left:50%;
	top:0;
	transform:translate(-50%,0);
}*/

.form-range {
	height:24px;
	background:none;
}
.form-range::-webkit-slider-thumb,
.form-range::-moz-range-thumb {
	appearance:none;
	-webkit-appearance: none;
	background:#994912;
	border: 1px solid #453D38 !important;
	border-radius: 0;
	width:11px;
	height:22px;
}